<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="display: flex; justify-content: space-evenly; align-items: center;">
        <ul style="list-style: none;">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>